#header{
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 9999;*/
}

.posNum{
    display: none;
}

#menu01{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    /*display: none;*/
}

#menu01 > h1{
    position: absolute;
    left: 44px;
    top: 44px;
}

#menu01 .menu_list{
    width: 800px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

#menu01 .menu_list > li > a{
    font-family: 'Gotham Medium';
    font-size: 20px;
    float: left;
    margin-right: 95px;
    color: #fff;
}

#menu01 .menu_list > li:last-child > a{
    margin: 0;
}

#menu01 .login{
    font-family: 'Gotham Light';
    font-size: 16px;
    position: fixed;
    right: 50px;
    top: 50px;
    color: #fff;
    cursor: pointer;
}



#menu02{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

#menu02 > h1{
    position: absolute;
    left: 44px;
    top: 28px;
}

#menu02 .menu_list{
    width: 800px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 34px;
    transform: translateX(-50%);
}

#menu02 .menu_list > li > a{
    font-family: 'Gotham Medium';
    font-size: 20px;
    float: left;
    margin-right: 95px;
    color: #fff;
}

#menu02 .menu_list > li:last-child > a{
    margin: 0;
}

#menu02 .login{
    font-family: 'Gotham Light';
    font-size: 16px;
    position: fixed;
    right: 50px;
    top: 34px;
    color: #fff;
    cursor: pointer;
}

#menu02 .menu_bg{
    width: 1920px;
    height: 80px;
    background: #001833;
}

/*--------------------------------------------------------------
    #header end
--------------------------------------------------------------*/

#intro {
    width: 100%;
    height: 1080px;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 1s
}

#intro.on {
    top: -1080px;
}

#group .slide-title{
    margin-bottom: 48px;
}

#group .slide-title > h2{
    font-family: 'Gotham Bold';
    font-size: 95px;
    letter-spacing: -1px;
    color: #fff;
}

#group .slide-title > h3{
    font-family: 'Gotham Bold';
    font-size: 70px;
    letter-spacing: -1px;
    color: #fff;
}

#group .slide-title .ko{
    font-family: 'Yoon윤고딕 780';
    font-size: 45px;
    letter-spacing: -1px;
    color: #fff;
}

#group .slide-text > p{
    font-family: 'Yoon윤고딕 730';
    font-size: 22px;
    letter-spacing: -1px;
    color: #fff;
}

/*--------------------------------------------------------------
    #intro end
--------------------------------------------------------------*/

#intro .main_scroll{
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%) scale(0.55);
}

#intro .main_scroll .scroll {
    margin-top: 30px;
    font-family: "Gotham Book", sans-serif;
    font-size: 24px;
    letter-spacing: 8px;
    color: #ffffff;
    -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
    animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}

#intro .main_scroll .mouse {
    background: #4e5559 -webkit-linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    position: relative;
    width: 52px;
    height: 88px;
    border-radius: 100px;
    margin-left: 26px;
    -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}

#intro .main_scroll .mouse:before, #intro .main_scroll .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#intro .main_scroll .mouse:before {
    width: 46px;
    height: 82px;
    background-color: #0d1628;
    border-radius: 100px;
}
#intro .main_scroll .mouse:after {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation: trackBallSlide 5s linear infinite;
    animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }
    20% {
        background-position: 0% 0%;
    }
    21% {
        background-color: #4e5559;
    }
    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    51% {
        background-color: #4e5559;
    }
    59.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    80% {
        background-position: 0% 0%;
    }
    81% {
        background-color: #4e5559;
    }
    89.99%, 100% {
        background-color: #ffffff;
    }
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }
    20% {
        background-position: 0% 0%;
    }
    21% {
        background-color: #4e5559;
    }
    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    51% {
        background-color: #4e5559;
    }
    59.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    80% {
        background-position: 0% 0%;
    }
    81% {
        background-color: #4e5559;
    }
    89.99%, 100% {
        background-color: #ffffff;
    }
}
@-webkit-keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    15%, 19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    28%, 29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    45%, 49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    58%, 59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    75%, 79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    88%, 100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
}
@keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    15%, 19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    28%, 29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    45%, 49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    58%, 59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    75%, 79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    88%, 100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
}
@-webkit-keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes nudgeText {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes nudgeText {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes colorText {
    21% {
        color: #4e5559;
    }
    30% {
        color: #ffffff;
    }
    51% {
        color: #4e5559;
    }
    60% {
        color: #ffffff;
    }
    81% {
        color: #4e5559;
    }
    90% {
        color: #ffffff;
    }
}
@keyframes colorText {
    21% {
        color: #4e5559;
    }
    30% {
        color: #ffffff;
    }
    51% {
        color: #4e5559;
    }
    60% {
        color: #ffffff;
    }
    81% {
        color: #4e5559;
    }
    90% {
        color: #ffffff;
    }
}

/*--------------------------------------------------------------
    #intro scroll animation end
--------------------------------------------------------------*/

#section01 {
    height: 925px;
    background: #001833;
}

#section01 .title{
    position: absolute;
    left: 50%;
    top: 170px;
    transform: translateX(-50%);
}

#section01 .title .tit{
    font-family: 'Gotham Bold';
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

#section01 .title > p{
    font-family: 'Yoon윤고딕 750';
    font-size: 18px;
    color: #9aacc0;
    text-align: center;
    letter-spacing: -1px;
}

#center_slider{
    width: 100%;
    position: absolute;
    left: 0;
    top: 38%;
}

#center_slider .slick-slide {
    width: 1232px;
    height: 460px;
    margin-right: 0 !important;/*slide간의 여백 설정 */
    opacity: .5;
    transform: scale(0.8);
    transition:all 0.5s;
    position: relative;
}

#center_slider .slick-center {}

#center_slider .slick-current{
    transform: scale(1);
    opacity: 1;
}

#center_slider .slick-active {}

#center_slider > div .typo{
    position: absolute;
    left: 0;
    top: 100px;
}

#center_slider > div .typo .subtit{
    font-family: "Gotham Medium";
    font-size: 18px;
    color: #f29a76;
    letter-spacing: -1.5px;
    margin-bottom: 18px;
}

#center_slider > div .typo .tit{
    font-family: "Gotham Medium";
    font-size: 53px;
    color: #fff;
    margin-bottom: 38px;
}

#center_slider > div .typo > p{
    font-family: 'Yoon윤고딕 730';
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -1.5px;
    color: #7792af;
}

#center_slider > div .typo .bold{
    font-family: 'Yoon윤고딕 760';
}

#center_slider .slick-slide > img{
    position: absolute;
    right: 0;
    top: 0;
}

#center_slider .slick-prevArrow{
    width: 64px;
    height: 64px;
    background: url("../image/main/model-prev-ui.png");
    position: absolute;
    left: 188px;
    top: 40%;
    z-index: 9999;
    cursor: pointer;
}

#center_slider .slick-nextArrow{
    width: 64px;
    height: 64px;
    background: url("../image/main/model-next-ui.png");
    position: absolute;
    right: 188px;
    top: 40%;
    z-index: 9999;
    cursor: pointer;
}

#center_slider .viewmore_btn{
    position: absolute;
    left: 0;
    bottom: -50px;
    cursor: pointer;
}

#center_slider .viewmore_btn > div{
    font-family: "Gotham Medium";
    font-size: 15px;
    letter-spacing: -1.5px;
    color: #fff;
    text-align: center;
    margin-bottom: 6px;
}

#center_slider .viewmore_btn .line{
    width: 89px;
    height: 4px;
    background: #7992af;
}

/*--------------------------------------------------------------
    #section01 / 자동차 모델 end
--------------------------------------------------------------*/



#section02 {
    height: 995px;
    background: #fff;
}

#section02 .title{
    position: absolute;
    left: 50%;
    top: 170px;
    transform: translateX(-50%) translateY(50px);
    opacity: 0;
    transition: all 1s;
}

#section02 .title.on{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

#section02 .title .tit{
    font-family: "Gotham Bold";
    font-size: 60px;
    color: #002c5e;
    text-align: center;
    margin-bottom: 24px;
}

#section02 .title .copy{
    font-family: 'Yoon윤고딕 750';
    font-size: 18px;
    color: #636363;
    text-align: center;
    letter-spacing: -1px;
}


#section02 .service{
    width: 1300px;
    position: absolute;
    left: 50%;
    top: 318px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 2s;
}

#section02 .service.on{
    opacity: 1;
}

#section02 .service.on .box{transform: translateY(0);}
#section02 .service.on .guide{transition-delay: .2s;}
#section02 .service.on .car_service{transition-delay: .4s;}
#section02 .service.on .bluelink{transition-delay: .6s;}

#section02 .service .box{
    width: 294px;
    height: 422px;
    float: left;
    overflow: hidden;
    margin-right: 35px;
    position: relative;
    transition: all 1s;
    transform: translateY(200px);
}

#section02 .service .box:last-child{
    margin-right: 0;
}

#section02 .service .box .typo_box{
    width: 294px;
    height: 205px;
    background: rgba(2,69,144,0.4);
    position: absolute;
    left: 0;
    bottom: -201px;
    transition: all .5s;
}

#section02 .service .box .typo_box.on{
    bottom: 0;
}

#section02 .service .box .typo_box .blueline{
    width: 294px;
    height: 4px;
    background: #004da3;
    position: absolute;
    left: 0;
    top: 0;
}

#section02 .service .box .typo_box .tit{
    font-family: 'Yoon윤고딕 770';
    font-size: 24px;
    letter-spacing: -1px;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 38px;
}

#section02 .service .box .typo_box > p{
    font-family: 'Yoon윤고딕 740';
    font-size: 15px;
    letter-spacing: -1.5px;
    line-height: 27px;
    color: #dfdfdf;
    position: absolute;
    left: 20px;
    top: 80px;
}

#section02 .service .box .typo_box .more_btn{
    position: absolute;
    left: 20px;
    bottom: 37px;
    cursor: pointer;
}

#section02 .service .box .typo_box .more_btn > span:first-child{
    font-family: "Gotham Light";
    font-size: 13px;
    color: #fff;
    letter-spacing: -1.5px;
}

#section02 .service .box .typo_box .more_btn > span > img{
    padding-top: 4px;
}


/* !!!여기부턴 뷰 모어 버튼 애니메이션!!!!!!!*/

#section02 .viewmore_btn{
    position: absolute;
    left: 50%;
    bottom: 165px;
    transform: translateX(-50%);
    cursor: pointer;
}

#section02 .viewmore_btn > div{
    width: 127px;
    height: 45px;
    font-family: "Gotham Medium";
    font-size: 15px;
    letter-spacing: -1.5px;
    line-height: 55px;
    color: #626262;
    text-align: center;
    position: relative;
    transition: all .2s;
}

#section02 .viewmore_btn > div.on{
    line-height: 45px;
}

#section02 .viewmore_btn > div >span:nth-child(1){
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 4px;
    background: #004da3;
    transition: all .2s;
    transition-delay: .4s;
} /*top*/

#section02 .viewmore_btn > div.on >span:nth-child(1){
    width: 100%;
}

#section02 .viewmore_btn > div >span:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .2s;
} /*right*/

#section02 .viewmore_btn > div.on >span:nth-child(2){
    height: 100%;
}

#section02 .viewmore_btn > div >span:nth-child(3){
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 89px;
    height: 4px;
    background: #004da3;
    transform: translateX(-50%);
    transition: all .2s;
} /*bottom*/

#section02 .viewmore_btn > div.on >span:nth-child(3){
    width: 100%;
}

#section02 .viewmore_btn > div >span:nth-child(4){
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .6s;
} /*left*/

#section02 .viewmore_btn > div.on >span:nth-child(4){
    height: 100%;
}

/*--------------------------------------------------------------
    #section02 / 고객 서비스 end
--------------------------------------------------------------*/




#section03 {
    height: 592px;
    background: #fff;
}

#event_slides {
    width: 100%;
    height: 100%;
    position : relative;
}

#event_slides .slick-slide {
    width: 1920px;
    height: 592px;
    position : relative;
}

#section03 .event_slide_wrap .left{
    width: 1134px;
    height: 592px;
    background: #e5e5e5;
    transform: translateX(-1134px);
    transition: all 2s;
    opacity : 0;
}

#section03 .event_slide_wrap.on .left{
    transform: translateX(0);
    opacity : 1;
}

#section03 .event_slide_wrap .typo{
    position: absolute;
    left: 344px;
    top: 180px;
}

#section03 .event_slide_wrap .typo .subtit{
    font-family: 'Gotham Medium';
    font-size: 18px;
    color: #747474;
    letter-spacing: -1.5px;
    margin-bottom: 30px;
}

#section03 .event_slide_wrap .typo .tit{
    font-family: 'Yoon윤고딕 770';
    font-size: 48px;
    letter-spacing: -1.5px;
    color: #002c5e;
    margin-left: -5px;
    margin-bottom: 20px;
}

#section03 .event_slide_wrap .event04 .tit{
    font-family: 'Gotham Medium';
    font-size: 53px;
    letter-spacing: -1.5px;
    color: #002c5e;
    margin-left: -5px;
    margin-bottom: 20px;
}

#section03 .event_slide_wrap .typo .text{
    font-family: 'Yoon윤고딕 750';
    font-size: 18px;
    line-height: 28px;
    color: #2c2c2c;
}


#section03 .event_slide_wrap .typo .subtit,
#section03 .event_slide_wrap .typo .tit,
#section03 .event_slide_wrap .event04 .tit,
#section03 .event_slide_wrap .typo .text{
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s;
}

#section03 .event_slide_wrap .typo .subtit{
    transition-delay: 1.5s;
}

#section03 .event_slide_wrap .typo .tit,
#section03 .event_slide_wrap .event04 .tit{
    transition-delay: 1.7s;
}

#section03 .event_slide_wrap .typo .text{
    transition-delay: 1.9s;
}

#section03 .event_slide_wrap.on .typo .subtit,
#section03 .event_slide_wrap.on .typo .tit,
#section03 .event_slide_wrap.on .event04 .tit,
#section03 .event_slide_wrap.on .typo .text{
    transform: translateY(0);
    opacity: 1;
}



#section03 .event_slide_wrap .eventbg {
    width: 884px;
    height: 400px;
    position : absolute;
    right: 50px;
    bottom:113px;
    transform: translateX(884px);
    transition: all 1s;
    opacity : 0;
}

#section03 .event_slide_wrap.on .eventbg {
    transform: translateX(0);
    opacity : 1;
}


#event_slides .slick-dots{
    position: absolute;
    right: 35%;
    bottom: 80px;
}

#event_slides .slick-dots li{
    width: 25px;
    height: 14px;
    float: left;
    margin-right: 18px;
    cursor: pointer;
}

#event_slides .slick-dots li:nth-child(1){background: url("../image/main/event-pagination-01.png");}
#event_slides .slick-dots li:nth-child(2){background: url("../image/main/event-pagination-02.png");}
#event_slides .slick-dots li:nth-child(3){background: url("../image/main/event-pagination-03.png");}
#event_slides .slick-dots li:nth-child(4){
    background: url("../image/main/event-pagination-04.png");
    margin-right: 0
}

#event_slides .slick-dots li .slick-active{
    width: 25px;
    height: 14px;
}

#event_slides .slick-dots li:nth-child(1).slick-active{background: url("../image/main/event-pagination-01-on.png");}
#event_slides .slick-dots li:nth-child(2).slick-active{background: url("../image/main/event-pagination-02-on.png");}
#event_slides .slick-dots li:nth-child(3).slick-active{background: url("../image/main/event-pagination-03-on.png");}
#event_slides .slick-dots li:nth-child(4).slick-active{background: url("../image/main/event-pagination-04-on.png");}

.slick-dots li button{display: none;}


#event_slides .slick-arrow{
    width: 220px;
    height: 15px;
    background: red;
}

.event_slide_wrap >g{
    transform: scale(0.8);
}

.event_slide_wrap a.button {
    position: absolute;
    left: 345px;
    bottom: 80px;
    display: inline-block;
    width: 24.8em;
    height: 6.1em;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
    line-height: 3em;
    font-size: 1rem;
    color: #002c5e;
    cursor: pointer;
    transform: translateZ(0) translateY(50px);
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index:9999;
    opacity: 0;
}
.event_slide_wrap.on a.button{
    transform: translate(0);
    transition: all 2s;
    transition-delay: 2.4s;
    opacity: 1;
}

.event_slide_wrap a.button svg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.event_slide_wrap a.button svg g line,
.event_slide_wrap a.button svg g polyline,
.event_slide_wrap a.button svg g circle {
    fill: none;
    stroke: #002c5e;
}

.event_slide_wrap a.button svg g line,
.event_slide_wrap a.button svg g polyline {
    stroke-miterlimit: 10;
}

.event_slide_wrap a.button svg g circle {
    display: block;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.066em;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset ease-out 0.5s;
}

.event_slide_wrap a.button div {
    z-index: 2;
    position: absolute;
    left: 5px;
    top: -15px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Gotham Medium", sans-serif;
    font-size: 14px;
}


.event_slide_wrap a.button:hover {
    -webkit-transform: translateZ(0) translateX(0.5em);
    transform: translateZ(0) translateX(0.5em);
}

.event_slide_wrap a.button:hover svg g circle {
    stroke-dashoffset: 200;
}



/*--------------------------------------------------------------
    #section03 / 이벤트 end
--------------------------------------------------------------*/





#section04 {
    height: 1137px;
    background: #0058bb;
}

#section04 .bg01{
    position: absolute;
    left: -990px;
    top: 317px;
    transition: all 2s;
}

#section04 .bg01.on{
    position: absolute;
    left: 193px;
}

#section04 .bg02{
    position: absolute;
    left: 100%;
    top: 410px;
    transition: all 2s;
}

#section04 .bg02.on{
    position: absolute;
    left: 170px;
}

#section04 .form{
    width: 736px;
    height: 811px;
    background: #fff;
    position: absolute;
    right: 200px;
    top: 166px;
    box-shadow: 5px 5px 20px rgba(50,113,183,0.3);
}


/*시승신청 시작*/

#section04 .form_box01{
    /*display: none;*/
}

#section04 .form_box01 .top_button{
    width: 410px;
    position: absolute;
    left: 50%;
    top: 85px;
    transform: translateX(-50%);
}

#section04 .form_box01 .top_button > div{
    float: left;
}

#section04 .form_box01 .top_button .request{
    font-family: 'Yoon윤고딕 780';
    font-size: 40px;
    letter-spacing: -1px;
    color: #002c5e;
    cursor: pointer;
}

#section04 .form_box01 .top_button .bar{
    margin: 10px 30px 0;
}

#section04 .form_box01 .top_button .inquiry{
    font-family: 'Yoon윤고딕 780';
    font-size: 36px;
    letter-spacing: -1px;
    color: #b8b7b7;
    padding-top: 2px;
    cursor: pointer;
}

#section04 .form_box01 .request_contents{
    position: absolute;
    left: 50%;
    top: 148px;
    transform: translateX(-50%);
}

#section04 .form_box01 .request_contents > p{
    font-family: 'Yoon윤고딕 750';
    font-size: 18px;
    color: #636363;
    margin-bottom: 65px;
    text-align: center;
}

#section04 .form_box01 .request_contents .name,
#section04 .form_box01 .request_contents .phone,
#section04 .form_box01 .request_contents .center{
    margin-bottom: 18px;
}

#section04 .form_box01 .request_contents .date{
    margin-bottom: 45px;
}

#section04 .form_box01 .request_contents > div .tit{
    font-family: 'Yoon윤고딕 750';
    font-size: 16px;
    letter-spacing: -1px;
    color: #303030;
    margin-bottom: 10px;
}

#section04 .form_box01 .request_contents .name .text_box,
#section04 .form_box01 .request_contents .center .text_box,
#section04 .form_box01 .request_contents .date .text_box{
    height: 55px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    cursor: text;
    padding: 13px 26px 0 30px;
    position: relative;
}

#section04 .form_box01 .request_contents .phone .text_box{
    width: 150px;
    height: 55px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    float: left;
    cursor: text;
}

#section04 .form_box01 .request_contents .phone .text_box:nth-child(3){
    margin: 0 9.5px 0;
}

#section04 .form_box01 .request_contents .center .text_box,
#section04 .form_box01 .request_contents .date .text_box{
    cursor: pointer;
}

#section04 .form_box01 .request_contents .center .text_box > span:nth-child(2){
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    color: #656565;
    line-height: 26px;
}

#section04 .form_box01 .request_contents .center .text_box > span:nth-child(3){
    font-family: 'Gotham Light';
    font-size: 15px;
    color: #656565;
    line-height: 28px;
}

#section04 .form_box01 .request_contents .center .text_box > span:nth-child(4){
    position: absolute;
    right: 26px;
    top: 15px;
}

#section04 .form_box01 .request_contents .date .text_box > span:nth-child(2){
    font-family: 'Gotham Light';
    font-size: 15px;
    color: #656565;
    line-height: 26px;
}

#section04 .form_box01 .request_contents .date .text_box > span:nth-child(3){
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    color: #656565;
    line-height: 24px;
}

#section04 .form_box01 .request_contents .button{
    width: 473px;
    height: 55px;
    background: #00418a;
    border-radius: 5px;
    font-family: 'Yoon윤고딕 760';
    font-size: 18px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/*--------------------------------------------------------------
    #form_box01 end
--------------------------------------------------------------*/



#section04 .form_box02{
    display: none;
}

#section04 .form_box02 .top_button{
    width: 410px;
    position: absolute;
    left: 50%;
    top: 85px;
    transform: translateX(-50%);
}

#section04 .form_box02 .top_button > div{
    float: left;
}

#section04 .form_box02 .top_button .request{
    font-family: 'Yoon윤고딕 780';
    font-size: 36px;
    letter-spacing: -1px;
    color: #b8b7b7;
    line-height: 40px;
    cursor: pointer;
}

#section04 .form_box02 .top_button .bar{
    margin: 10px 30px 0;
}

#section04 .form_box02 .top_button .inquiry{
    font-family: 'Yoon윤고딕 780';
    font-size: 40px;
    letter-spacing: -1px;
    color: #002c5e;
    cursor: pointer;
}

#section04 .form_box02 .inquiry_contents{
    width: 500px;
    position: absolute;
    left: 50%;
    top: 148px;
    transform: translateX(-50%);
}

#section04 .form_box02 .inquiry_contents > p{
    font-family: 'Yoon윤고딕 750';
    font-size: 18px;
    color: #636363;
    margin-bottom: 65px;
    text-align: center;
}

#section04 .form_box02 .inquiry_contents .search{
    width: 473px;
    height: 55px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    margin-bottom: 23px;
    cursor: text;
}

#section04 .form_box02 .inquiry_contents .search > span{
    font-family: 'Yoon윤고딕 750';
    font-size: 16px;
    color: #747474;
    line-height: 55px;
    margin-left: 20px;
}

#section04 .form_box02 .inquiry_contents .search > span > img{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

#section04 .form_box02 .inquiry_contents .result{
    width: 500px;
    height: 55px;
    border-top: 1px solid #bfbfbf;
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translateX(-50%);
}

#section04 .form_box02 .inquiry_contents .result > span:nth-child(1),
#section04 .form_box02 .inquiry_contents .result > span:nth-child(3){
    font-family: 'Yoon윤고딕 750';
    font-size: 20px;
    color: #303030;
}

#section04 .form_box02 .inquiry_contents .result > span:nth-child(2){
    font-family: 'Gotham Bold';
    font-size: 24px;
    color: #0058bb;
}

#section04 .form_box02 .inquiry_contents .result > span{
    line-height: 60px;
}

#section04 .form_box02 .inquiry_contents .result_menu{
    width: 450px;
    position: absolute;
    left: 50%;
    top: 220px;
    transform: translateX(-50%);
}

#section04 .form_box02 .inquiry_contents .result_menu > li{
    font-family: 'Yoon윤고딕 750';
    font-size: 16px;
    color: #979797;
    text-align: center;
    float: left;
    cursor: pointer;
}

#section04 .form_box02 .inquiry_contents .result_menu > li:nth-child(2){
    margin: 0 90px 0;
}

#section04 .form_box02 .inquiry_contents .result_menu .bold > div{
    font-family: 'Yoon윤고딕 770';
    color: #303030;
    margin-bottom: 8px;
}

#section04 .form_box02 .inquiry_contents .result_menu .bold .line{
    width: 80px;
    height: 4px;
    background: #004da3;
}

#section04 .form_box02 .inquiry_contents .result_box{
    width: 473px;
    height: 338px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 275px;
    transform: translateX(-50%);
}

#section04 .form_box02 .inquiry_contents .result_box .scroll_bar{
    width: 5px;
    height: 65px;
    background: #707070;
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: 5px;
}

#section04 .form_box02 .inquiry_contents .result_box .center01{
    width: 454px;
    height: 155px;
    border-bottom: 1px solid #bfbfbf;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}

#section04 .form_box02 .inquiry_contents .result_box > div > img{
    position: absolute;
    left: 23px;
    top: 19px;
}

#section04 .form_box02 .inquiry_contents .result_box > div .typo > p{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    color: #656565;
    line-height: 24px;
    margin: 12px 0 12px;
}

#section04 .form_box02 .inquiry_contents .result_box > div .typo .number{
    font-family: 'Gotham Light';
    font-size: 14px;
    color: #656565;
    margin: 0;
}

#section04 .form_box02 .inquiry_contents .result_box > div .more_btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Yoon윤고딕 770';
    font-size: 13px;
    color: #004da3;
    cursor: pointer;
}

#section04 .form_box02 .inquiry_contents .result_box > div .typo{
    position: absolute;
    left: 56px;
    top: 25px;
}

#section04 .form_box02 .inquiry_contents .result_box .center01 .typo > span:nth-child(1){
    font-family: 'Yoon윤고딕 770';
    font-size: 18px;
    color: #004da3;
}

#section04 .form_box02 .inquiry_contents .result_box >div .typo > span:nth-child(2){
    font-family: 'Gotham Light';
    font-size: 18px;
    color: #656565;
}


#section04 .form_box02 .inquiry_contents .result_box .center02{
    width: 454px;
    height: 155px;
    border-bottom: 1px solid #bfbfbf;
    position: absolute;
    left: 50%;
    top: 163px;
    transform: translateX(-50%);
}

#section04 .form_box02 .inquiry_contents .result_box .center02 .typo > span:nth-child(1){
    font-family: 'Yoon윤고딕 770';
    font-size: 18px;
    color: #8c8c8c;
}


/*--------------------------------------------------------------
    #section04 / 시승신청, 영업점 조회 end
--------------------------------------------------------------*/







#section05 {
    height: 438px;
    background: #000;
}

#section05 .dark{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all .5s;
}

#section05 .dark.off{
    opacity: 0;
}



/*--------------------------------------------------------------
    #section05 / 헤드라이트 자동차 사진 end
--------------------------------------------------------------*/






#section06{
    height: 1440px;
    background: #fff;
}

#section06 .title{
    position: absolute;
    left: 50%;
    top: 170px;
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
    transition: all 2s;
}

#section06 .title.on{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

#section06 .title .tit{
    font-family: "Gotham Bold";
    font-size: 60px;
    color: #002c5e;
    text-align: center;
    margin-bottom: 24px;
}

#section06 .title > p{
    font-family: 'Yoon윤고딕 750';
    font-size: 18px;
    color: #636363;
    text-align: center;
    letter-spacing: -1px;
}


#section06 .brand_box{
    width: 1280px;
    height: 852px;
    border: 1px solid #d2d2d2;
    position: absolute;
    left: 50%;
    top: 330px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 2.2s;
}

#section06 .brand_box.on{
    opacity: 1;
}

#section06 .brand_box .campaigns,
#section06 .brand_box .about,
#section06 .brand_box .tech,
#section06 .brand_box .eco,
#section06 .brand_box .design,
#section06 .brand_box .collection{transform: translateY(50px); transition: all 1.5s}


#section06 .brand_box .about{transition-delay: .2s}
#section06 .brand_box .tech{transition-delay: .4s}
#section06 .brand_box .eco{transition-delay: .6s}
#section06 .brand_box .design{transition-delay: .8s}
#section06 .brand_box .collection{transition-delay: 1s}

#section06 .brand_box.on .campaigns,
#section06 .brand_box.on .about,
#section06 .brand_box.on .tech,
#section06 .brand_box.on .eco,
#section06 .brand_box.on .design,
#section06 .brand_box.on .collection{transform: translateY(0);}

#section06 .brand_box > div{
    width: 426px;
    height: 426px;
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#section06 .brand_box .campaigns_on,
.tech_on, .eco_on, .design_on, .collection_on{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#section06 .brand_box .campaigns_on .typo,
.tech_on .typo, .eco_on .typo, .design_on .typo, .collection_on .typo{
    width: 256px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    text-align: center;
}

#section06 .brand_box .campaigns_on .typo .tit,
.tech_on .typo .tit, .eco_on .typo .tit, .design_on .typo .tit, .collection_on .typo .tit{
    font-family: 'Gotham Bold';
    font-size: 26px;
    margin-bottom: 30px;
}

#section06 .brand_box .campaigns_on .typo > p,
.tech_on .typo> p, .eco_on .typo> p, .design_on .typo> p, .collection_on .typo> p{
    font-family: 'Yoon윤고딕 740';
    font-size: 15px;
    letter-spacing: -1.5px;
    line-height: 27px;
}

#section06 .brand_box .eco_on .typo .eng{
    font-family: 'Gotham Book';
}

#section06 .brand_box .campaigns_on .dimmed{
    background: rgba(0,0,0,0.4);
}

#section06 .brand_box .about .typo{
    width: 295px;
    height: 135px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#section06 .brand_box .about .typo .tit{
    font-family: 'Yoon윤고딕 770';
    font-size: 24px;
    color: #2e3035;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 40px;
}

#section06 .brand_box .about .typo .blueline{
    width: 20px;
    height: 4px;
    background: #004da3;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}

#section06 .brand_box .about .typo > p{
    font-family: 'Yoon윤고딕 750';
    font-size: 15px;
    color: #5e5e5e;
    letter-spacing: -1px;
    text-align: center;
    line-height: 27px;
}

#section06 .brand_box .about .more_btn{
    position: absolute;
    left: 50%;
    bottom: 108px;
    transform: translateX(-50%);
    cursor: pointer;
}

#section06 .brand_box .about .more_btn > span:first-child{
    font-family: "Gotham Light";
    font-size: 13px;
    color: #5e5e5e;
    letter-spacing: -1.5px;
}

#section06 .brand_box .about .more_btn > span > img{
    padding-top: 4px;
}

/* !!!여기부턴 뷰 모어 버튼 애니메이션!!!!!!!*/

#section06 .viewmore_btn{
    position: absolute;
    left: 50%;
    bottom: 165px;
    transform: translateX(-50%);
    cursor: pointer;
}

#section06 .viewmore_btn > div{
    width: 127px;
    height: 45px;
    font-family: "Gotham Medium";
    font-size: 15px;
    letter-spacing: -1.5px;
    line-height: 55px;
    color: #626262;
    text-align: center;
    position: relative;
    transition: all .2s;
}

#section06 .viewmore_btn > div.on{
    line-height: 45px;
}

#section06 .viewmore_btn > div >span:nth-child(1){
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 4px;
    background: #004da3;
    transition: all .2s;
    transition-delay: .4s;
} /*top*/

#section06 .viewmore_btn > div.on >span:nth-child(1){
    width: 100%;
}

#section06 .viewmore_btn > div >span:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .2s;
} /*right*/

#section06 .viewmore_btn > div.on >span:nth-child(2){
    height: 100%;
}

#section06 .viewmore_btn > div >span:nth-child(3){
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 89px;
    height: 4px;
    background: #004da3;
    transform: translateX(-50%);
    transition: all .2s;
} /*bottom*/

#section06 .viewmore_btn > div.on >span:nth-child(3){
    width: 100%;
}

#section06 .viewmore_btn > div >span:nth-child(4){
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .6s;
} /*left*/

#section06 .viewmore_btn > div.on >span:nth-child(4){
    height: 100%;
}
/*--------------------------------------------------------------
    #section06 / 브랜드 스토리 end
--------------------------------------------------------------*/




#section07{
    height: 828px;
    background: url("../image/main/news-bg.jpg");
}

#section07 .news_box{
    width: 1352px;
    height: 620px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 115px;
    transform: translateX(-50%);
}


#section07 .news_box .typo{
    width: 290px;
    height: 80px;
    position: absolute;
    left: 63px;
    top: 92px;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1.5s;
}

#section07 .news_box.on .typo{
    opacity: 1;
    transform: translateX(0);
}

#section07 .news_box .typo .subtit{
    font-family: 'Gotham Light';
    font-size: 30px;
    letter-spacing: -1.5px;
    color: #002c5e;
}

#section07 .news_box .typo .tit{
    font-family: 'Gotham Bold';
    font-size: 55px;
    letter-spacing: -1.5px;
    color: #002c5e;
}



#section07 .news_box .news{
    position: absolute;
    left: 290px;
    top: 50%;
    transform: translateY(-50%);
}

#section07 .news_box .article{
    width: 345px;
    height: 410px;
    float: left;
    position: relative;
    opacity: 0;
    transform: translateX(50px);
}

#section07 .news_box.on .article{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}

#section07 .news_box.on .a1{transition-delay: .2s}
#section07 .news_box.on .a2{transition-delay: .4s}
#section07 .news_box.on .a3{transition-delay: .6s}

#section07 .news_box .article .blueline{
    width: 20px;
    height: 4px;
    background: #004da3;
    position: absolute;
    left: 40px;
    top: -14px;
}

#section07 .news_box .article .typo{
    position: absolute;
    left: 40px;
    top: 18px;
}

#section07 .news_box .article .typo .tit{
    font-family: 'Yoon윤고딕 770';
    font-size: 22px;
    letter-spacing: -1.5px;
    color: #002c5e;
    line-height: 32px;
}

#section07 .news_box .article .typo .category{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    letter-spacing: -1px;
    color: #a1a1a1;
    position: absolute;
    left: 0;
    top: 104px;
}

#section07 .news_box .article .typo > p{
    width: 270px;
    font-family: 'Yoon윤고딕 740';
    font-size: 16px;
    letter-spacing: -1.5px;
    color: #4b4b4b;
    line-height: 25px;
    text-align: justify;
    position: absolute;
    left: 0;
    top: 148px;
}

#section07 .news_box .article .typo .date{
    font-family: 'Gotham Light';
    font-size: 14px;
    letter-spacing: -1.5px;
    color: #a1a1a1;
    position: absolute;
    left: 0;
    top: 364px;
}

#section07 .news_box .article .more_btn{
    position: absolute;
    right: 40px;
    bottom: 15px;
    cursor: pointer;
}

#section07 .news_box .article .more_btn > span:first-child{
    font-family: "Gotham Light";
    font-size: 13px;
    color: #5e5e5e;
    letter-spacing: -1.5px;
}

#section07 .news_box .article .more_btn > span > img{
    padding-top: 4px;
}


#section07 .news_box .article:nth-child(2){
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}
/*--------------------------------------------------------------
    #section07 / 뉴스 end
--------------------------------------------------------------*/



#footer {
    height: 426px;
    background: #03101e;
    position: relative;
}

#footer .footer_inner{
    width: 1126px;
    height: 285px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


#footer .footer_inner .top{
    position: absolute;
    left: 0;
    top: 0;
}

#footer .footer_inner .top > div{
    width: 250px;
    height: 164px;
    float: left;
    margin-right: 217px;
    position: relative;
}

#footer .footer_inner .top > div:nth-child(3){
    margin-right: 0;
}

#footer .footer_inner .top .left > ul > li{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    letter-spacing: -1px;
    color: #859db7;
    margin-bottom: 16px;
}

#footer .footer_inner .top .left .left01{
    position: absolute;
    left: 0;
    top: 60px;
}

#footer .footer_inner .top .left .left01 .bold{
    font-family: 'Yoon윤고딕 770';
}

#footer .footer_inner .top .left .left02{
    position: absolute;
    left: 185px;
    top: 60px;
}

#footer .footer_inner .top > div .tit{
    font-family: 'Gotham Bold';
    font-size: 16px;
    color: #fff;
}

#footer .footer_inner .top .center .family_box{
    width: 245px;
    height: 38px;
    border: 1px solid #3d5065;
    padding: 0 15px 0;
    position: absolute;
    left: 0;
    top: 60px;
    cursor: pointer;
}

#footer .footer_inner .top .center .family_box > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    letter-spacing: -1px;
    color: #859db7;
    line-height: 38px;
}

#footer .footer_inner .top .center .family_box > span:nth-child(2) {
    position: absolute;
    right: 15px;
    top: 12px;
}


#footer .footer_inner .top .right{
    width: 163px;
    height: 164px;
}

#footer .footer_inner .top .right .sns{
    position: absolute;
    left: 0;
    top: 60px;
}

#footer .footer_inner .top .right > ul > li{
    font-family: 'Gotham Book';
    font-size: 14px;
    color: #859db7;
    margin-bottom: 16px;
}



#footer .footer_inner .line{
    width: 1126px;
    height: 1px;
    background: #002c5e;
    position: absolute;
    bottom: 75px;
}

#footer .footer_inner .bottom{
    position: absolute;
    left: 0;
    bottom: 0;
}

#footer .footer_inner .bottom > div{
    float: left;
}

#footer .footer_inner .bottom .left{
    width: 465px;
    height: 40px;
}

#footer .footer_inner .bottom .call{margin-bottom: 16px;}

#footer .footer_inner .bottom .call > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    color: #859db7;
}
#footer .footer_inner .bottom .call > span:nth-child(1){
    font-family: 'Yoon윤고딕 770';
    margin-right: 5px;
}

#footer .footer_inner .bottom .copyright{
    font-family: 'Gotham Book';
    font-size: 12px;
    color: #859db7;
}

#footer .footer_inner .bottom .copyright > img{margin: 0 3px 0;}

#footer .footer_inner .bottom .right{
    width: 584px;
    height: 40px;
}

#footer .footer_inner .bottom .right .right01{margin-bottom: 14px;}

#footer .footer_inner .bottom .right > div > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 12px;
    letter-spacing: -1px;
    color: #859db7;
    margin-right: 20px;
}

