@charset "utf-8";
html, body {
    height: 100%;
    overflow-y: hidden
}

body {
    position: relative;
    min-width: 1200px;
    font-family: "Dotum", "Arial", sans-serif;
    font-size: 12px;
    color: #333;
    background: white
}

.posNum {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 50px;
    margin: -25px 0 0 -150px;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    z-index: 9999;
    display: none;
}

#header {}

#menu01{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

#menu01 > h1{
    position: absolute;
    left: 44px;
    top: 44px;
}

#menu01 .menu_list{
    width: 800px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

#menu01 .menu_list > li > a{
    font-family: 'Gotham Medium';
    font-size: 20px;
    float: left;
    margin-right: 95px;
    color: #fff;
}

#menu01 .menu_list > li:last-child > a{
    margin: 0;
}

#menu01 .login{
    font-family: 'Gotham Light';
    font-size: 16px;
    position: fixed;
    right: 50px;
    top: 50px;
    color: #fff;
    cursor: pointer;
}

#menu02{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

#menu02 > h1{
    position: absolute;
    left: 44px;
    top: 28px;
}

#menu02 .menu_list{
    width: 800px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 34px;
    transform: translateX(-50%);
}

#menu02 .menu_list > li > a{
    font-family: 'Gotham Medium';
    font-size: 20px;
    float: left;
    margin-right: 95px;
    color: #fff;
}

#menu02 .menu_list > li:last-child > a{
    margin: 0;
}

#menu02 .login{
    font-family: 'Gotham Light';
    font-size: 16px;
    position: fixed;
    right: 50px;
    top: 34px;
    color: #fff;
    cursor: pointer;
}

#menu02 .menu_bg{
    width: 1920px;
    height: 80px;
    background: #001833;
}

/*--------------------------------------------------------------
    #header end
--------------------------------------------------------------*/

.scrollBox {
    min-width: 1200px;
    height: 100%;
    position: relative
}

.scrollBox .wrap {
    min-width: 1200px;
    position: relative;
    overflow: hidden
}

.scrollBox .wrap > div {
    position: relative
}

.scrollBox .wrap .objs > li {
    position: absolute;
    left: 50%
}
/*--------------------------------------------------------------
    .scrollBox end
--------------------------------------------------------------*/


#scene01 {
    height: 920px;
    background: url("../image/about/about-header.jpg");
}

#scene01 .header_typo{
    position: absolute;
    left: 50%;
    top: 344px;
    transform: translateX(-50%);
}

#scene01 .subtit{
    font-family: "Gotham Medium";
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}

#scene01 .tit{
    font-family: "Gotham Bold";
    font-size: 90px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

#scene01 .text{
    font-family: "Yoon윤고딕 730";
    font-size: 22px;
    text-align: center;
    color: #fff;
}

#scene01 .category_box{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
    position: absolute;
    left: 50%;
    top: 820px;
    transform: translateX(-50%);
}

#scene01 .category{
    width: 1300px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#scene01 .category > li{
    width: 260px;
    height: 100px;
    float: left;
    position: relative;
    cursor: pointer;
}

#scene01 .category > li > div{
    font-family: "Gotham Book", "Yoon윤고딕 730";
    font-size: 20px;
    color: #8d8d8d;
    text-align: center;
    line-height: 100px;
}

#scene01 .category .ca01.on > div{
    font-family: "Yoon윤고딕 750";
    color: #222;
    transition: all .5s;
}

#scene01 .category .ca02.on > div,
#scene01 .category .ca03.on > div,
#scene01 .category .ca04.on > div,
#scene01 .category .ca05.on > div{
    font-family: "Gotham Medium";
    color: #222;
    transition: all .5s;
}

#scene01 .category > li.on .line{
    width: 260px;
    height: 8px;
    background: #004da3;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*--------------------------------------------------------------
    #scene01 end
--------------------------------------------------------------*/

#scene02 {
    width: 100%;
    height: 2753px;
    position: relative;
}

#scene02 .vision01 .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 45px;
    color: #001833;
    position: absolute;
    left: 310px;
    top: 148px;
}

#scene02 > div .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color:#373737;
    line-height: 30px;
}

#scene02 .vision01 .text{
    position: absolute;
    left: 960px;
    top: 275px;
}

#scene02 .vision01 .img01{
    position: absolute;
    left: 0;
    top: 470px;
}

#scene02 .vision02 .text{
    position: absolute;
    left: 310px;
    top: 1180px;
}

#scene02 .vision02 .text:nth-child(2){
    top: 1268px;
}

#scene02 .vision02 .text:nth-child(3){
    top: 1418px;
}

#scene02 .vision02 .img02{
    position: absolute;
    right: 0;
    bottom: 553px;
}

#scene02 .vision03 .text{
    position: absolute;
    left: 960px;
    bottom: 267px;
}

#scene02 .vision03 .img03{
    position: absolute;
    left: 95px;
    bottom: 190px;
    z-index: 5;
}


/*--------------------------------------------------------------
    #scene02 end
--------------------------------------------------------------*/

#scene03 {
    height: 845px;
    background: #0058bb;
}

#scene03 .box{
    width: 33px;
    height: 9px;
    background: #fff;
    position: absolute;
    left: 310px;
    top: 100px;
}

#scene03 .Campaigns_typo{
    position: absolute;
    left: 310px;
    top: 147px;
}

#scene03 .Campaigns_typo .tit{
    font-family: "Gotham Medium";
    font-size: 53px;
    color: #fff;
    margin-bottom: 26px;
}

#scene03 .Campaigns_typo .text{
    font-family: "Yoon윤고딕 740";
    font-size: 18px;
    color: #fff;
}

#campaigns{
    position: absolute;
    left: 310px;
    top: 324px;
}

#campaigns .slick-nextArrow{
    width: 64px;
    height: 64px;
    background: url("../image/main/model-next-ui.png");
    position: absolute;
    left: 360px;
    top: 40%;
    z-index: 9999;
    cursor: pointer;
}

#campaigns .slick-slide{
    width: 390px;
    height: 420px;
    background: #fff;
    margin-right: 50px;
    position: relative;
}

#campaigns .slick-slide .typo{
    position: absolute;
    left: 30px;
    bottom: 40px;
}

#campaigns .slick-slide .tit{
    font-family: "Gotham Medium";
    font-size: 22px;
    color: #3d3d3d;
    margin-bottom: 24px;
}

#campaigns .slick-slide .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #616060;
    line-height: 25px;
}

/*--------------------------------------------------------------
    #scene03 end
--------------------------------------------------------------*/

#scene04 {
    height: 1857px;
    background: #fff;
}

#scene04 .tech_typo .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 45px;
    color: #001833;
    position: absolute;
    left: 310px;
    top: 160px;
}

#scene04 .tech_typo .bold{
    font-family: "Yoon윤고딕 770";
    font-size: 16px;
    color:#373737;
    line-height: 30px;
    position: absolute;
    left: 1004px;
    top: 275px;
}

#scene04 .tech_typo .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color:#373737;
    line-height: 30px;
    position: absolute;
    left: 1004px;
    top: 305px;
}

#scene04 .box_list{
    width: 1300px;
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translateX(-50%);
}

#scene04 .box_list > li{
    width: 610px;
    height: 500px;
    float: left;
    margin: 0 80px 60px 0;
    position: relative;
}

#scene04 .box_list > li:nth-child(2),
#scene04 .box_list > li:nth-child(4){
    margin-right: 0;
}

#scene04 .box_list > li .typo .tit{
    font-family: "Gotham Bold";
    font-size: 24px;
    color: #1b1b1b;
    position: absolute;
    left: 0;
    bottom: 62px;
}

#scene04 .box_list > li .typo .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #616060;
    line-height: 27px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#scene04 .box_list > li .more_btn{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

#scene04 .box_list > li .more_btn > span{
    font-family: "Gotham Light";
    font-size: 13px;
    color: #343434;
}

#scene04 .box_list > li .more_btn > span:nth-child(2) > img{
    padding-top: 2px;
    line-height: 14px;
}

/* !!!여기부턴 뷰 모어 버튼 애니메이션!!!!!!!*/

#scene04 .viewmore_btn{
    position: absolute;
    left: 50%;
    bottom: 165px;
    transform: translateX(-50%);
    cursor: pointer;
}

#scene04 .viewmore_btn > div{
    width: 127px;
    height: 45px;
    font-family: "Gotham Medium";
    font-size: 15px;
    letter-spacing: -1.5px;
    line-height: 55px;
    color: #626262;
    text-align: center;
    position: relative;
    transition: all .2s;
}

#scene04 .viewmore_btn > div.on{
    line-height: 45px;
}

#scene04 .viewmore_btn > div >span:nth-child(1){
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 4px;
    background: #004da3;
    transition: all .2s;
    transition-delay: .4s;
} /*top*/

#scene04 .viewmore_btn > div.on >span:nth-child(1){
    width: 100%;
}

#scene04 .viewmore_btn > div >span:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .2s;
} /*right*/

#scene04 .viewmore_btn > div.on >span:nth-child(2){
    height: 100%;
}

#scene04 .viewmore_btn > div >span:nth-child(3){
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 89px;
    height: 4px;
    background: #004da3;
    transform: translateX(-50%);
    transition: all .2s;
} /*bottom*/

#scene04 .viewmore_btn > div.on >span:nth-child(3){
    width: 100%;
}

#scene04 .viewmore_btn > div >span:nth-child(4){
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .6s;
} /*left*/

#scene04 .viewmore_btn > div.on >span:nth-child(4){
    height: 100%;
}

/*--------------------------------------------------------------
    #scene04 end
--------------------------------------------------------------*/

#scene05 {
    height: 1682px;
    background: #001833;
}

#scene05 .eco_typo01{
    position: absolute;
    left: 310px;
    top: 140px;
}

#scene05 .eco_typo01 .tit{
    font-family: "Gotham Bold";
    font-size: 45px;
    color: #fff;
    margin-bottom: 48px;
}

#scene05 .eco_typo01 .bold{
    font-family: "Yoon윤고딕 770";
    font-size: 16px;
    color: #bfcfe1;
    margin-bottom: 10px;
}

#scene05 .eco_typo01 .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #bfcfe1;
    line-height: 30px;
}

#scene05 > img{
    position: absolute;
    left: 50%;
    top: 378px;
    transform: translateX(-50%);
}

#scene05 .eco_typo02{
    position: absolute;
    left: 50%;
    top: 1000px;
    transform: translateX(-50%);
}

#scene05 .eco_typo02 .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 45px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

#scene05 .eco_typo02 .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #bfcfe1;
    line-height: 30px;
    text-align: center;
}

#scene05 .eco{
    width: 1300px;
    position: absolute;
    left: 50%;
    bottom: 155px;
    transform: translateX(-50%);
}

#scene05 .eco > li{
    width: 295px;
    height: 200px;
    margin-right: 40px;
    float: left;
    cursor: pointer;
}

#scene05 .eco > li:nth-child(4){
    margin-right: 0;
}

#scene05 .eco > li .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 18px;
    color: #fff;
    margin: 13px 0 13px 0;
}

#scene05 .eco > li .text{
    font-family: "Yoon윤고딕 740";
    font-size: 14px;
    color: #bfcfe1;
}


/*--------------------------------------------------------------
    #scene05 end
--------------------------------------------------------------*/

#scene06 {
    height: 2017px;
    background: #fff;
}

#scene06 .design_typo .design_tit{
    font-family: "Gotham Bold";
    font-size: 45px;
    color: #001833;
    position: absolute;
    left: 310px;
    top: 160px;
}

#scene06 .design_typo .design_list{
    width: 520px;
    height: 280px;
    position: absolute;
    left: 310px;
    top: 365px;
}

#scene06 .design_typo .design_list > li{
    width: 230px;
    height: 120px;
    float: left;
    margin-right: 60px;
    margin-bottom: 64px;
}

#scene06 .design_typo .design_list > li:nth-child(2),
#scene06 .design_typo .design_list > li:nth-child(4){
    margin-right: 0;
}

#scene06 .design_typo .design_list > li .tit{
    font-family: "Gotham Bold";
    font-size: 19px;
    color: #001833;
    margin-bottom: 30px;
}

#scene06 .design_typo .design_list > li .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #535353;
    line-height: 28px;
    letter-spacing: -0.5px;
}

#scene06 .design_typo .bold{
    font-family: "Yoon윤고딕 770";
    font-size: 16px;
    color:#0058bb;
    line-height: 30px;
    position: absolute;
    left: 1004px;
    top: 256px;
}

#scene06 .design_typo .design_text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color:#373737;
    line-height: 30px;
    position: absolute;
    left: 1004px;
    top: 345px;
}

#scene06 .box_list{
    width: 1300px;
    position: absolute;
    left: 50%;
    top: 728px;
    transform: translateX(-50%);
}

#scene06 .box_list > li{
    width: 610px;
    height: 472px;
    float: left;
    margin: 0 80px 60px 0;
    position: relative;
}

#scene06 .box_list > li:nth-child(2),
#scene06 .box_list > li:nth-child(4){
    margin-right: 0;
}

#scene06 .box_list > li .typo .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 22px;
    color: #1b1b1b;
    position: absolute;
    left: 0;
    bottom: 32px;
}

#scene06 .box_list > li .typo .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #616060;
    line-height: 27px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#scene06 .box_list > li .more_btn{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

#scene06 .box_list > li .more_btn > span{
    font-family: "Gotham Light";
    font-size: 13px;
    color: #343434;
}

#scene06 .box_list > li .more_btn > span:nth-child(2) > img{
    padding-top: 2px;
    line-height: 14px;
}

/* !!!여기부턴 뷰 모어 버튼 애니메이션!!!!!!!*/

#scene06 .viewmore_btn{
    position: absolute;
    left: 50%;
    bottom: 165px;
    transform: translateX(-50%);
    cursor: pointer;
}

#scene06 .viewmore_btn > div{
    width: 127px;
    height: 45px;
    font-family: "Gotham Medium";
    font-size: 15px;
    letter-spacing: -1.5px;
    line-height: 55px;
    color: #626262;
    text-align: center;
    position: relative;
    transition: all .2s;
}

#scene06 .viewmore_btn > div.on{
    line-height: 45px;
}

#scene06 .viewmore_btn > div >span:nth-child(1){
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 4px;
    background: #004da3;
    transition: all .2s;
    transition-delay: .4s;
} /*top*/

#scene06 .viewmore_btn > div.on >span:nth-child(1){
    width: 100%;
}

#scene06 .viewmore_btn > div >span:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .2s;
} /*right*/

#scene06 .viewmore_btn > div.on >span:nth-child(2){
    height: 100%;
}

#scene06 .viewmore_btn > div >span:nth-child(3){
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 89px;
    height: 4px;
    background: #004da3;
    transform: translateX(-50%);
    transition: all .2s;
} /*bottom*/

#scene06 .viewmore_btn > div.on >span:nth-child(3){
    width: 100%;
}

#scene06 .viewmore_btn > div >span:nth-child(4){
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 0;
    background: #004da3;
    transition: all .2s;
    transition-delay: .6s;
} /*left*/

#scene06 .viewmore_btn > div.on >span:nth-child(4){
    height: 100%;
}

/*--------------------------------------------------------------
    #scene05 end
--------------------------------------------------------------*/


#footer {
    height: 426px;
    background: #03101e;
    position: relative;
}

#footer .footer_inner{
    width: 1126px;
    height: 285px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


#footer .footer_inner .top{
    position: absolute;
    left: 0;
    top: 0;
}

#footer .footer_inner .top > div{
    width: 250px;
    height: 164px;
    float: left;
    margin-right: 217px;
    position: relative;
}

#footer .footer_inner .top > div:nth-child(3){
    margin-right: 0;
}

#footer .footer_inner .top .left > ul > li{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    letter-spacing: -1px;
    color: #859db7;
    margin-bottom: 16px;
}

#footer .footer_inner .top .left .left01{
    position: absolute;
    left: 0;
    top: 60px;
}

#footer .footer_inner .top .left .left01 .bold{
    font-family: 'Yoon윤고딕 770';
}

#footer .footer_inner .top .left .left02{
    position: absolute;
    left: 185px;
    top: 60px;
}

#footer .footer_inner .top > div .tit{
    font-family: 'Gotham Bold';
    font-size: 16px;
    color: #fff;
}

#footer .footer_inner .top .center .family_box{
    width: 245px;
    height: 38px;
    border: 1px solid #3d5065;
    padding: 0 15px 0;
    position: absolute;
    left: 0;
    top: 60px;
    cursor: pointer;
}

#footer .footer_inner .top .center .family_box > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    letter-spacing: -1px;
    color: #859db7;
    line-height: 38px;
}

#footer .footer_inner .top .center .family_box > span:nth-child(2) {
    position: absolute;
    right: 15px;
    top: 12px;
}


#footer .footer_inner .top .right{
    width: 163px;
    height: 164px;
}

#footer .footer_inner .top .right .sns{
    position: absolute;
    left: 0;
    top: 60px;
}

#footer .footer_inner .top .right > ul > li{
    font-family: 'Gotham Book';
    font-size: 14px;
    color: #859db7;
    margin-bottom: 16px;
}



#footer .footer_inner .line{
    width: 1126px;
    height: 1px;
    background: #002c5e;
    position: absolute;
    bottom: 75px;
}

#footer .footer_inner .bottom{
    position: absolute;
    left: 0;
    bottom: 0;
}

#footer .footer_inner .bottom > div{
    float: left;
}

#footer .footer_inner .bottom .left{
    width: 465px;
    height: 40px;
}

#footer .footer_inner .bottom .call{margin-bottom: 16px;}

#footer .footer_inner .bottom .call > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    color: #859db7;
}
#footer .footer_inner .bottom .call > span:nth-child(1){
    font-family: 'Yoon윤고딕 770';
    margin-right: 5px;
}

#footer .footer_inner .bottom .copyright{
    font-family: 'Gotham Book';
    font-size: 12px;
    color: #859db7;
}

#footer .footer_inner .bottom .copyright > img{margin: 0 3px 0;}

#footer .footer_inner .bottom .right{
    width: 584px;
    height: 40px;
}

#footer .footer_inner .bottom .right .right01{margin-bottom: 14px;}

#footer .footer_inner .bottom .right > div > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 12px;
    letter-spacing: -1px;
    color: #859db7;
    margin-right: 20px;
}


/*--------------------------------------------------------------
    #footer end
--------------------------------------------------------------*/
