@charset "utf-8";

html, body {
    height: 100%;
    overflow-y: hidden
}

body {
    position: relative;
    min-width: 1200px;
    font-family: "Dotum", "Arial", sans-serif;
    font-size: 12px;
    color: #333;
    background: white
}

.posNum {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 50px;
    margin: -25px 0 0 -150px;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    z-index: 9999;
    display: none;
}

#header {}

#menu01{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

#menu01 > h1{
    position: absolute;
    left: 44px;
    top: 44px;
}

#menu01 .menu_list{
    width: 800px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

#menu01 .menu_list > li > a{
    font-family: 'Gotham Medium';
    font-size: 20px;
    float: left;
    margin-right: 95px;
    color: #fff;
}

#menu01 .menu_list > li:last-child > a{
    margin: 0;
}

#menu01 .login{
    font-family: 'Gotham Light';
    font-size: 16px;
    position: fixed;
    right: 50px;
    top: 50px;
    color: #fff;
    cursor: pointer;
}

#menu02{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

#menu02 > h1{
    position: absolute;
    left: 44px;
    top: 28px;
}

#menu02 .menu_list{
    width: 800px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 34px;
    transform: translateX(-50%);
}

#menu02 .menu_list > li > a{
    font-family: 'Gotham Medium';
    font-size: 20px;
    float: left;
    margin-right: 95px;
    color: #fff;
}

#menu02 .menu_list > li:last-child > a{
    margin: 0;
}

#menu02 .login{
    font-family: 'Gotham Light';
    font-size: 16px;
    position: fixed;
    right: 50px;
    top: 34px;
    color: #fff;
    cursor: pointer;
}

#menu02 .menu_bg{
    width: 1920px;
    height: 80px;
    background: #001833;
}

/*--------------------------------------------------------------
    #header end
--------------------------------------------------------------*/

.scrollBox {
    min-width: 1200px;
    height: 100%;
    position: relative
}

.scrollBox .wrap {
    min-width: 1200px;
    position: relative;
    overflow: hidden
}

.scrollBox .wrap > div {
    position: relative
}

.scrollBox .wrap .objs > li {
    position: absolute;
    left: 50%
}
/*--------------------------------------------------------------
    .scrollBox end
--------------------------------------------------------------*/


#scene01 {
    height: 920px;
    background: url("../image/model/avante-header.jpg");
}

#scene01 .header_typo{
    position: absolute;
    left: 50%;
    top: 344px;
    transform: translateX(-50%);
}

#scene01 .tit{
    font-family: "Gotham Bold";
    font-size: 95px;
    text-align: center;
    color: #fff;
}

#scene01 .subtit{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 135px;
    transform: translateX(-50%);
}

#scene01 .subtit .price{
    font-family: "Gotham Medium";
    font-size: 50px;
}

#scene01 .subtit .price_ko{
    font-family: "Yoon윤고딕 730";
    font-size: 22px;
}


#scene01 .header_button{
    position: absolute;
    left: 50%;
    top: 225px;
    transform: translateX(-50%);
}

#scene01 .header_button > div{
    width: 175px;
    height: 45px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-family: "Yoon윤고딕 730";
    font-size: 18px;
    text-align: center;
    color: #fff;
    float: left;
    position: relative;
    cursor: pointer;
}

#scene01 .header_button .heart{
    width: 135px;
    margin-right: 20px;
}

#scene01 .header_button .heart > span{
    line-height: 45px;
    position: absolute;
    left: 58px;
    top: 0;
}

#scene01 .header_button .heart > img{
    position: absolute;
    left: 30px;
    top: 14px;
}


#scene01 .header_button .request > span{
    line-height: 45px;
    position: absolute;
    left: 30px;
    top: 0;
}

#scene01 .header_button .request > img{
    position: absolute;
    right: 30px;
    top: 16px;
}


#scene01 .category_box{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
    position: absolute;
    left: 50%;
    top: 820px;
    transform: translateX(-50%);
}

#scene01 .category{
    width: 1042px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#scene01 .category > li{
    width: 260px;
    height: 100px;
    float: left;
    position: relative;
    cursor: pointer;
}

#scene01 .category > li > div{
    font-family: "Gotham Book", "Yoon윤고딕 730";
    font-size: 20px;
    color: #8d8d8d;
    text-align: center;
    line-height: 100px;
}

#scene01 .category .ca01.on > div,
#scene01 .category .ca02.on > div,
#scene01 .category .ca03.on > div,
#scene01 .category .ca04.on > div{
    font-family: "Yoon윤고딕 750";
    color: #222;
    transition: all .5s;
}


#scene01 .category > li.on .line{
    width: 260px;
    height: 8px;
    background: #004da3;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*--------------------------------------------------------------
    #scene01 end
--------------------------------------------------------------*/


#scene02 {
    width: 100%;
    height: 1000px;
}

#scene02 .avante_color{
    height: 64px;
    transform: rotate(90deg);
    position: absolute;
    left: -45px;
    top: 447px;
}

#scene02 .avante_color > li{
    height: 64px;
    float: left;
    margin-right: 38px;
    font-family: "Gotham Medium";
    font-size: 15px;
    color: #606060;
    position: relative;
    cursor: pointer;
}

#scene02 .avante_color > li.on{
    color: #0058bb;
    transition: all .5s;
}

#scene02 .avante_color > li.on .line{
    width: 6px;
    height: 28px;
    background: #0058bb;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all .5s;
}

#scene02 .avante_main .avante_tit{
    position: absolute;
    left: 24.8%;
    top: 163px;
}

#scene02 .avante_main .red_main{
    position: relative;
}

#scene02 .avante_main .red_main > img{
    position: absolute;
    left: 50%;
    top: 260px;
    transform: translateX(-50%);
}

#scene02 .avante_main .red_main .front_main,
#scene02 .avante_main .red_main .back_main{
    display: none;
}

#scene02 .avante_next{
    height: 168px;
    position: absolute;
    right: 156px;
    top: 406px;
    cursor: pointer;
}

#scene02 .avante_next .text{
    width: 178px;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
}

#scene02 .avante_next .text > span{
    font-family: "Gotham Book";
    font-size: 14px;
    color: #777;
    letter-spacing: -1px;
}

#scene02 .avante_next .text > span:nth-child(2){
    font-family: "Gotham Bold";
}


#scene02 .thumbnail{
    position: absolute;
    left: 50%;
    bottom: 94px;
    transform: translateX(-50%);
}

#scene02 .thumbnail .front{
    margin: 0 70px;
}

#scene02 .thumbnail > div{
    position: relative;
    float: left;
    cursor: pointer;
}

#scene02 .thumbnail > div .on{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

/*--------------------------------------------------------------
    #scene02 end
--------------------------------------------------------------*/

#scene03 {
    width: 100%;
    height: 3272px;
    background: #eee;
}

#scene03 .hightlight .tit{
    position: absolute;
    left: 310px;
    top: 148px;
}

#scene03 .hightlight .tit > span{
    font-family: "Yoon윤고딕 770";
    font-size: 45px;
    color: #001833;
    letter-spacing: -1px;
}

#scene03 .hightlight .tit > span:nth-child(1){
    font-family: "Gotham Medium";
    font-size: 48px;
    margin-right: 10px;
}

#scene03 > div .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color:#373737;
    line-height: 30px;
}

#scene03 .hightlight .text{
    position: absolute;
    left: 960px;
    top: 275px;
}

#scene03 .hightlight .img01{
    position: absolute;
    left: 0;
    top: 470px;
}

#scene03 .carpay .tit{
    position: absolute;
    left: 310px;
    top: 1106px;
}

#scene03 .carpay .tit > span{
    font-family: "Gotham Book";
    font-size: 48px;
    color: #001833;
    letter-spacing: -1px;
}

#scene03 .carpay .tit > span:nth-child(1){
    font-family: "Gotham Bold";
}

#scene03 .carpay .text{
    position: absolute;
    left: 310px;
    top: 1230px;
}

#scene03 .carpay .img02{
    position: absolute;
    right: 0;
    bottom: 1238px;
}

#scene03 .carpay .img03{
    position: absolute;
    left: 310px;
    bottom: 1064px;
}

#scene03 .digitalkey .tit{
    position: absolute;
    left: 50%;
    bottom: 857px;
    transform: translateX(-50%);
}

#scene03 .digitalkey .tit > span{
    font-family: "Gotham Book";
    font-size: 48px;
    color: #001833;
    letter-spacing: -1px;
}

#scene03 .digitalkey .tit > span:nth-child(1){
    font-family: "Gotham Bold";
}

#scene03 .digitalkey .text{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 763px;
    transform: translateX(-50%);
}

#scene03 .digitalkey .img04{
    position: absolute;
    left: 50%;
    bottom: 215px;
    transform: translateX(-50%);
}

#scene03 .digitalkey .img04 .subtext{
    position: absolute;
    left: 0;
    top: 510px;
    font-family: "Yoon윤고딕 740";
    font-size: 14px;
    color: #626262;
    letter-spacing: -0.5px;
    line-height: 26px;
}

/*--------------------------------------------------------------
    #scene03 end
--------------------------------------------------------------*/


#scene04 {
    height: 1793px;
    background: #001833;
}

#scene04 .design_typo{
    position: absolute;
    left: 304px;
    top: 173px;
}

#scene04 .design_typo .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 45px;
    color: #fff;
    margin-bottom: 48px;
}

#scene04 .design_typo .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #bfcfe1;
    line-height: 30px;
}

#scene04 .img01{
    position: absolute;
    left: 54px;
    top: 412px;
}

#scene04 .img02{
    position: absolute;
    right: 0;
    bottom: 539px;
}

#scene04 .design_list{
    width: 1300px;
    position: absolute;
    left: 50%;
    bottom: 202px;
    transform: translateX(-50%);
}

#scene04 .design_list > li{
    width: 295px;
    height: 200px;
    margin-right: 40px;
    float: left;
    cursor: pointer;
}

#scene04 .design_list > li:nth-child(4){
    margin-right: 0;
}

#scene04 .design_list > li .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 18px;
    color: #fff;
    margin: 13px 0 13px 0;
}


/*--------------------------------------------------------------
    #scene04 end
--------------------------------------------------------------*/

#scene05{
    height: 1469px;
    background: #fff;
}

#scene05 .driving_typo{
    position: absolute;
    left: 310px;
    top: 173px;
}

#scene05 .driving_typo .tit{
    font-family: "Gotham Medium";
    font-size: 48px;
    color: #001833;
    margin-bottom: 72px;
}

#scene05 .driving_typo .left_text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #1b1b1b;
    line-height: 30px;
}

#scene05 .right_text{
    position: absolute;
    left: 960px;
    top: 297px;
}

#scene05 .driving_typo .left_text .text,
#scene05 .right_text .bold{
    font-family: "Yoon윤고딕 770";
}

#scene05 .driving_typo .left_text .blue{
    color: #0058bb;
}

#scene05 .right_text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #1b1b1b;
    line-height: 30px;
}

#scene05 .img01{
    position: absolute;
    right: 0;
    bottom: 348px;
}

#scene05 .img02{
    position: absolute;
    left: 310px;
    bottom: 174px;
}

/*--------------------------------------------------------------
    #scene05 end
--------------------------------------------------------------*/

#scene06 {
    height: 845px;
    background: #0058bb;
}

#scene06 .box{
    width: 33px;
    height: 9px;
    background: #fff;
    position: absolute;
    left: 310px;
    top: 100px;
}

#scene06 .safety_typo{
    position: absolute;
    left: 310px;
    top: 147px;
}

#scene06 .safety_typo .tit{
    font-family: "Gotham Medium";
    font-size: 53px;
    color: #fff;
    margin-bottom: 26px;
}

#scene06 .safety_typo .text{
    font-family: "Yoon윤고딕 740";
    font-size: 18px;
    color: #fff;
}

#safety{
    position: absolute;
    left: 310px;
    top: 324px;
}

#safety .slick-nextArrow{
    width: 64px;
    height: 64px;
    background: url("../image/main/model-next-ui.png");
    position: absolute;
    left: 360px;
    top: 40%;
    z-index: 9999;
    cursor: pointer;
}

#safety .slick-slide{
    width: 390px;
    height: 420px;
    background: #fff;
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}

#safety .slick-slide .typo{
    position: absolute;
    left: 30px;
    bottom: 40px;
}

#safety .slick-slide .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 20px;
    color: #3d3d3d;
    margin-bottom: 24px;
}

#safety .slick-slide .text{
    font-family: "Yoon윤고딕 740";
    font-size: 16px;
    color: #616060;
    line-height: 25px;
    letter-spacing: -1px;
}

/*--------------------------------------------------------------
    #scene06 end
--------------------------------------------------------------*/

#scene07{
    height: 120px;
    background: #fff;
}

#scene07 .inner{
    width: 1300px;
    height: 120px;
    margin: 0 auto;
    padding: 26px 0 26px 0;
}
#scene07 .inner > div{
    width: 649px;
    height: 68px;
    float: left;
    position: relative;
}

#scene07 .inner .left{
    border-right: 1px solid #d2d2d2;
}

#scene07 .inner > div .tit{
    font-family: "Yoon윤고딕 770";
    font-size: 22px;
    color: #313131;
    margin-left: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#scene07 .inner .left .number{
    font-family: "Gotham Medium";
    font-size: 24px;
    color: #0058bb;
    position: absolute;
    left: 128px;
    top: 50%;
    transform: translateY(-50%);
}

#scene07 .inner > div .time{
    font-family: "Yoon윤고딕 750";
    font-size: 16px;
    color: #959595;
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
}

#scene07 .inner > div .time > div{
    float: left;
    margin: 0 5px;
}

#scene07 .inner > div .time .time_tit{
    font-family: "Yoon윤고딕 770";
}

#scene07 .inner > div .arrow{
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/*--------------------------------------------------------------
    #scene07 end
--------------------------------------------------------------*/


#footer {
    height: 426px;
    background: #03101e;
    position: relative;
}

#footer .footer_inner{
    width: 1126px;
    height: 285px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


#footer .footer_inner .top{
    position: absolute;
    left: 0;
    top: 0;
}

#footer .footer_inner .top > div{
    width: 250px;
    height: 164px;
    float: left;
    margin-right: 217px;
    position: relative;
}

#footer .footer_inner .top > div:nth-child(3){
    margin-right: 0;
}

#footer .footer_inner .top .left > ul > li{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    letter-spacing: -1px;
    color: #859db7;
    margin-bottom: 16px;
}

#footer .footer_inner .top .left .left01{
    position: absolute;
    left: 0;
    top: 60px;
}

#footer .footer_inner .top .left .left01 .bold{
    font-family: 'Yoon윤고딕 770';
}

#footer .footer_inner .top .left .left02{
    position: absolute;
    left: 185px;
    top: 60px;
}

#footer .footer_inner .top > div .tit{
    font-family: 'Gotham Bold';
    font-size: 16px;
    color: #fff;
}

#footer .footer_inner .top .center .family_box{
    width: 245px;
    height: 38px;
    border: 1px solid #3d5065;
    padding: 0 15px 0;
    position: absolute;
    left: 0;
    top: 60px;
    cursor: pointer;
}

#footer .footer_inner .top .center .family_box > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    letter-spacing: -1px;
    color: #859db7;
    line-height: 38px;
}

#footer .footer_inner .top .center .family_box > span:nth-child(2) {
    position: absolute;
    right: 15px;
    top: 12px;
}


#footer .footer_inner .top .right{
    width: 163px;
    height: 164px;
}

#footer .footer_inner .top .right .sns{
    position: absolute;
    left: 0;
    top: 60px;
}

#footer .footer_inner .top .right > ul > li{
    font-family: 'Gotham Book';
    font-size: 14px;
    color: #859db7;
    margin-bottom: 16px;
}



#footer .footer_inner .line{
    width: 1126px;
    height: 1px;
    background: #002c5e;
    position: absolute;
    bottom: 75px;
}

#footer .footer_inner .bottom{
    position: absolute;
    left: 0;
    bottom: 0;
}

#footer .footer_inner .bottom > div{
    float: left;
}

#footer .footer_inner .bottom .left{
    width: 465px;
    height: 40px;
}

#footer .footer_inner .bottom .call{margin-bottom: 16px;}

#footer .footer_inner .bottom .call > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 14px;
    color: #859db7;
}
#footer .footer_inner .bottom .call > span:nth-child(1){
    font-family: 'Yoon윤고딕 770';
    margin-right: 5px;
}

#footer .footer_inner .bottom .copyright{
    font-family: 'Gotham Book';
    font-size: 12px;
    color: #859db7;
}

#footer .footer_inner .bottom .copyright > img{margin: 0 3px 0;}

#footer .footer_inner .bottom .right{
    width: 584px;
    height: 40px;
}

#footer .footer_inner .bottom .right .right01{margin-bottom: 14px;}

#footer .footer_inner .bottom .right > div > span{
    font-family: 'Yoon윤고딕 740';
    font-size: 12px;
    letter-spacing: -1px;
    color: #859db7;
    margin-right: 20px;
}


/*--------------------------------------------------------------
    #footer end
--------------------------------------------------------------*/
